services:
  platescanner-cpu:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TARGET: cpu
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1

  platescanner-gpu:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TARGET: gpu
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    runtime: nvidia
